@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic')

$fontfamily: 'Roboto', sans-serif
$sectionwidth: 1170px
$sectionpadding: 20px
$txtcolor: white
$hcolor: #212121

*
	margin: 0
	padding: 0

body
	font-family: $fontfamily