doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title JS lvl.1 homeworks
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		section.lucky
			div.logo
				p.logo__name Проверятор билетиков
			div.task-info
				h1.task-info__heading Введите номер билетика
				p.task-info__instruction В номере билета может быть только шесть символов
				hr.task-info__line
			div.lucky__check
				input.form__input#number(type="number" max="999999")
				button.tag-button(onclick="getnumber();") Проверить
				div.lucky__result#isitlucky
		section.apples
			div.logo
				p.logo__name Разборки из-за яблок
			div.task-info
				h1.task-info__heading Введите исходное количество
				p.task-info__instruction Укажите сколько было яблок у Фрая и Лилы и посмотите, что получилось
				hr.task-info__line
			div.apples__inputs
				label.apples__owner.apples__owner--fry
					input.apples__value#petya(type='number')
				label.apples__owner.apples__owner--lila
					input.apples__value#masha(type='number')
				label.apples__owner.apples__owner--bender
					input.apples__value#dima(type='number' value='8' disabled)
				button.cartoon-button.cartoon-button__layout(onclick="countApples();") ? 
			div.apples__results#result-box
		section.average
			div.logo
				p.logo__name Поиск среднего числа
			div.task-info
				h1.task-info__heading Введите три разных числа
				p.task-info__instruction Нажмите на кнопку и узнаете, какое из них среднее
				hr.task-info__line
			div.average__inputs
				input.average__value#firstNum
				input.average__value#secondNum
				input.average__value#thirdNum
				button.average__button#check-button(onclick="findAverage();") Узнать
				button.average__button(onclick="refresh();")
					i(class="fa fa-refresh" aria-hidden="true")
		script(src="js/scripts.js")

