doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title JS lvl.1 homeworks
		link(rel="stylesheet" href="css/main.min.css")
	body
		section.lucky
			div.logo
				p.logo__name Проверятор билетиков
			h1.lucky__heading Введите номер билетика
			p.lucky__instruction В номере билета может быть только шесть символов
			div.lucky__check
				input.form__input#number(type="number" max="999999")
				button.tag-button(onclick="getnumber();") Проверить
				div.lucky__result#isitlucky
		section.apples
		script(src="js/scripts.js")

