doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title JS lvl.1 homeworks test
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		section.hamburger
			div.logo
				p.logo__name Гамбургер
			div.task-info
				h1.task-info__heading Расчет калорийности гамбергера
				p.task-info__instruction  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi soluta facilis eligendi sint aspernatur, sunt tempore optio dolore voluptas laborum. 
				hr.task-info__line
		section.quiz#quiz
			div.logo
				p.logo__name Вопросы и ответы
			div.task-info
				h1.task-info__heading.task-info__heading--saw Давай сыграем в игру
				p.task-info__instruction.task-info__instruction--saw Я задам три случайных вопроса. Ты должен дать ответ в течение 20 секунд. Не ошибайся! Только от тебя зависит, сможешь ли ты спастись!
				hr.task-info__line.task-info__line--saw
			div.quiz__box
				div.quiz__game-buttons
					button.quiz__game-btn Начать игру
					button(disabled).quiz__game-btn.quiz__game-btn--pushed Новый раунд
					button.quiz__game-btn.quiz__game-btn--pushed Начать заново
				div.quiz__question 
					div.quiz__question-txt
					div.quiz__answer
						span.quiz__countdown
						input(placeholder='введите ответ здесь').quiz__answer-inp
						button.quiz__answer-btn Ответить
					div.quiz__result Помни! Общая эрудиция однажды может спасти твою жизнь.
				div.quiz__bottle
					img(src='img/quiz-03.png').quiz__key
		section.redactor
			div.logo
				p.logo__name Текстовый редактор
			div.task-info
				h1.task-info__heading Введите строку
				p.task-info__instruction Кнопка "Сохранить" сохранит строку, кнопка "Предпросмотр" покажет на экране все введенные строки
				hr.task-info__line
			img(src='img/redactor-02.png').redactor__bethesda-logo
			div.redactor__box
				div.redactor__result#whereToShow
				span.redactor__arrow &raquo;
				input(type='text', autofocus).redactor__input#redactorinput
				span.redactor__button#save [ Сохранить ]
				span.redactor__button#show [ Показать ]
				span.redactor__button#clear [ Очистить ]
				span.redactor__memory Memory limit:
				span.redactor__memory-indicator#memoryIndicator
		section.metrica
			div.logo
				p.logo__name Счетчик посещений
			div.task-info
				h1.task-info__heading.task-info__heading--like-yandex Введите длительность посещения
				p.task-info__instruction Длительность посещения вводится в секундах, можно вводить несколько раз
				hr.task-info__line
			div.metrica__box
				label.metrica__label(for='visit-duration') Длительность посещения
				input.metrica__input#view-duration(type='number' placeholder='количество секунд')
				button.metrica__button#view-duration-add Добавить
			p.metrica__reset#resetter Сбросить счетчик
			p.metrica__info Если просмотр длится меньше 10 секунд, то он засчитывается как отказ. Просмотры длительностью от 10 секунд до 1 часа, считаются визитом и одновременно внимательным просмотром, просмотры дольше 60 минут считаются просто визитами. Проценты рассчитаны от общего количества просмотров. 
			div.metrica__stats
				table.metrica__table
					col.metrica__col.metrica__col--first
					col.metrica__col.metrica__col--second
					col.metrica__col.metrica__col--third
					tr.metrica__row.metrica__row--header
						td.metrica__cell.metrica__cell--header Показатель
						td.metrica__cell.metrica__cell--header Количество
						td.metrica__cell.metrica__cell--header %
					tr.metrica__row
						td.metrica__cell Просмотры
						td.metrica__value#views-num
						td.metrica__value#views-percent
					tr.metrica__row
						td.metrica__cell Визиты
						td.metrica__value#visits-num
						td.metrica__value#visits-percent
					tr.metrica__row
						td.metrica__cell  в т.ч. внимательное изучение
						td.metrica__value#attentives-num
						td.metrica__value#attentives-percent
					tr.metrica__row
						td.metrica__cell Отказы
						td.metrica__value#rejects-num
						td.metrica__value#rejects-percent
		section.number-desc
			div.logo
				p.logo__name Описание числа
			div.task-info
				h1.task-info__heading Нажмите кнопку
				p.task-info__instruction Программа сгенерирует трехзначное число и выведет его текстовое описание
				hr.task-info__line
			div.number-desc__box
				button.number-desc__randomise(onclick="randomise();")
					i(class="fa fa-random" aria-hidden="true")
				div.number-desc__items
					div.number-desc__item
					div.number-desc__item
					div.number-desc__item
				div.number-desc__result#result
		section.different
			div.logo
				p.logo__name Отличное число
			div.task-info
				h1.task-info__heading Введите четыре целых числа
				p.task-info__instruction Три из них должны быть одинаковыми и одно - отличное. Дробные части будут отброшены. Программа определит, кто из их отличается от других.
				hr.task-info__line
			div.different__inputs
				input.different__value#n1
				input.different__value#n2
				input.different__value#n3
				input.different__value#n4
			button.different__button(onclick="findDifferent();") Узнать
			button.different__button(onclick="refreshDifferent();")
				i(class="fa fa-refresh" aria-hidden="true")
		section.average
			div.logo
				p.logo__name Поиск среднего числа
			div.task-info
				h1.task-info__heading Введите три разных числа
				p.task-info__instruction Нажмите на кнопку и программа выберет из них среднее
				hr.task-info__line
			div.average__inputs
				input.average__value#firstNum
				input.average__value#secondNum
				input.average__value#thirdNum
				button.average__button#check-button(onclick="findAverage();") Узнать
				button.average__button(onclick="refresh();")
					i(class="fa fa-refresh" aria-hidden="true")
		section.apples
			div.logo
				p.logo__name Разборки из-за яблок
			div.task-info
				h1.task-info__heading Введите исходное количество яблок
				p.task-info__instruction Укажите сколько было яблок у Фрая и Лилы и посмотите, что получилось
				hr.task-info__line
			div.apples__inputs
				label.apples__owner.apples__owner--fry
					input.apples__value#petya(type='number')
				label.apples__owner.apples__owner--lila
					input.apples__value#masha(type='number')
				label.apples__owner.apples__owner--bender
					input.apples__value#dima(type='number' value='8' disabled)
				button.cartoon-button.cartoon-button__layout(onclick="countApples();") ? 
			div.apples__results#result-box
		section.lucky
			div.logo
				p.logo__name Проверятор билетиков
			div.task-info
				h1.task-info__heading Введите номер билетика
				p.task-info__instruction В номере билета может быть только шесть символов
				hr.task-info__line
			div.lucky__check
				input.form__input#number(type="number" max="999999")
				button.tag-button(onclick="getnumber();") Проверить
				div.lucky__result#isitlucky
		script(src="js/scripts.js")

