.redactor
	position: relative
	@include sec-common(#8fbc8f, #556b2f)
	&__box
		background-image: url(../img/redactor-01.png)
		width: 500px
		height: 419px
		margin: 0 auto
		position: relative
	&__bethesda-logo
		position: absolute
		top: 77px
		left: 286px
	&__input
		position: relative
		top: 155px
		left: 20px
		width: 350px
		background-color: #090A08
		border: none
		outline: none
		color: #56F775
		text-shadow: 0 0 1px #56F775
		letter-spacing: 2px
		font-size: 11px
		margin-right: 10px
	&__button
		position: absolute
		color: #56F775
		font-size: 12px
		margin-right: 10px
		padding: 2px
		text-shadow: 0 0 1px #56F775
		&:hover
			background-color: #56F775
			color: black
			font-weight: bold
			cursor: pointer
	&__memory
		position: absolute
		top: 270px
		left: 80px
		color: #56F775
		font-size: 12px
		text-shadow: 0 0 1px #56F775
	&__memory-indicator
		position: absolute
		top: 270px
		left: 160px
		color: #56F775
		text-shadow: 0 0 1px #56F775
		font-size: 12px
	&__arrow
		font-size: 18px
		position: absolute
		top: 281px
		left: 80px
		color: #56F775
		text-shadow: 0 0 1px #56F775
		&--arrow
			top: 280px
			left: 80px
			font-size: 110%
	&__button#save
		top: 308px
		left: 100px
	&__button#show
		top: 308px
		left: 210px
	&__button#clear
		top: 308px
		left: 310px
	&__result
		position: relative
		top: 135px
		left: 80px
		//padding-top: 5px
		height: 128px
		width: 333px
		color: #56F775
		text-shadow: 0 0 1px #56F775
		font-size: 13px
		letter-spacing: 1.5px
		text-align: left