.lucky__result {
	margin: 20px auto 0 auto;
}

.result {
	width: 500px;
	height: 200px;
}

.result__text {
	font-size: 1.5rem;
	color: #212121;
}

.result--yes {
	color: green;
}

.result--no {
	color: red;
}