$formtxt: 16px;
$elheight: 40px;

.form {
//
}

.form__input {
	width: 250px;
	height: $elheight;
	text-align: center;
	font-size: $formtxt;
	font-family: 'Roboto', sans-serif;
}

.form__input:focus {
	outline: none;
}

.form__button {
	position: relative;
	height: $elheight;
	margin-left: 20px;
	padding: 0 10px;
	font-size: $formtxt;
	font-family: 'Roboto', sans-serif;
	border-width: 0;
	background-color: $headingcolor;
	color: $txtcolor;
	border-radius: 10px;
}

.form__button:hover {
	background-color: $headingcolor+15%;
}

.form__button:active {
	transform: translate(2px, 2px);
}

.form__button:focus {
	outline: none;
}

.form__button:before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 80px;
  height: 20px;
  bottom: 19px;
  left: 17px;
  box-shadow: 0 21px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(7deg);
}

.form__button:active:before {
	box-shadow: 0 21px 10px rgba(0, 0, 0, 0);
}