@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');
$bgcolor: skyblue;
$txtcolor: white;
$headingcolor: rgba(65, 105, 225, 1); 

* {
	margin:0;
	padding:0;
}

.lucky {
	position: relative;
	z-index:0;
	background-color: $bgcolor;
	width: 100%;
	padding: 20px 0;
	color: $txtcolor;
	text-align: center;
	font-family: 'Roboto', sans-serif;
} 

.lucky__heading {
	color: $headingcolor;
}

.lucky__instruction {
	padding: 10px 0;
}

@import 'lucky__form';