doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Проверятор счастливых билетов
		link(rel="stylesheet" href="style/lucky-ticket.css")
	body
		div.lucky
			div.logo
				p.logo__name Проверятор
				p.logo__name2 билетов
			h1.lucky__heading Введите номер билетика
			p.lucky__instruction В номере билета может быть только шесть символов
			div
				input.form__input#number(type="number" max="999999")
				button.form__button(onclick="getnumber();") Проверить
				button.form__button.form__button--more(type="reset") Еще раз
			div.lucky__result.result#isitlucky
		script(src="scripts/lucky-ticket.js")