doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Проверятор счастливых билетов
		link(rel="stylesheet" href="style/lucky-ticket.css")
	body
		div.lucky
			h1.lucky__heading Введите номер билетика
			p.lucky__instruction В номере билета может быть только четное количество символов
			form.form(action="#")
				input.form__input#number(type="number" placeholder="например: 111111")
				button.form__button Проверить

		script(src="scripts/lucky-ticket.js")