doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Проверятор счастливых билетов
		link(rel="stylesheet" href="style/lucky-ticket.css")
	body
		div.container.test
			h1 Введите номер билетика
			p В номере билета может быть только четное количество символов
		script(src="scripts/lucky-ticket.js")