@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');


* {
	margin:0;
	padding:0;
}

.lucky {
	background-color: skyblue;
	width: 100%;
	height: 100%;
	color:white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
} 

.lucky__heading {
	color: blue;
}

.lucky__instruction {

}

@import 'lucky__form';