@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
* {
  margin: 0;
  padding: 0; }

.logo {
  width: 200px;
  height: 80px;
  background-color: rgba(33, 33, 33, 0.7);
  color: white;
  text-transform: uppercase;
  transform: skewx(-15deg);
  box-shadow: 0 9px 7px rgba(0, 0, 0, 0.7); }

.logo__name {
  padding-top: 20px;
  transform: skewx(15deg); }

.logo__name2 {
  transform: skewx(15deg); }

.lucky {
  position: relative;
  z-index: 0;
  width: 1170px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, #87cfeb 40%, royalblue 100%); }

.lucky__heading {
  color: #212121; }

.lucky__instruction {
  color: #212121;
  padding: 10px 0; }

.form__input {
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.form__input:focus {
  outline: none; }

.form__button {
  position: relative;
  height: 40px;
  margin-left: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border-width: 0;
  background-color: royalblue;
  color: white;
  border-radius: 10px; }

.form__button:hover {
  background-color: #5078f0; }

.form__button:active {
  transform: translate(2px, 2px); }

.form__button:focus {
  outline: none; }

.form__button:before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 80px;
  height: 20px;
  bottom: 19px;
  left: 17px;
  box-shadow: 0 21px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(7deg); }

.form__button:active:before {
  box-shadow: 0 21px 10px transparent; }

.lucky__result {
  margin: 20px auto 0 auto; }

.result {
  width: 500px;
  height: 200px; }

.result__text {
  font-size: 1.5rem;
  color: #212121; }

.result--yes {
  color: green; }

.result--no {
  color: red; }
