.lucky
	@include sec-common(rgb(135, 207, 235), rgb(65, 105, 225))
	position: relative
	z-index: 0
	height: 250px
	text-align: center
	&__result
		margin: 20px auto

.form__input
	width: 150px
	height: 40px
	text-align: center
	font-size: 16px
	font-family: 'Roboto', sans-serif
	&:focus
		outline: none



