.average
	@include sec-common(#ffd700, #ff4500)

	&__inputs
		width: 500px
		margin: 0 auto
		display: flex
		justify-content: space-around
		align-items: center

	&__value
		border-radius: 50%
		width: 50px
		height: 50px
		text-align: center
		border: none
		box-shadow: 0 0 15px 0 #212121
		font-size: 1em
		font-weight: bold

		&:focus
			outline: none

		&--wrong
			box-shadow: 0 0 15px 1px red inset
			color: red

	&__button
		background-color: #FF6347
		color: #212121
		font-size: 16px
		font-weight: bold
		width: 75px
		height: 40px
		border: none
		box-shadow: 2px 2px 5px 0 #212121
		transition: all 0.3s linear 0s

		&:hover
			background-color: orange
			color: #212121

		&:focus
			outline: none

		&:active
			box-shadow: 0 0 5px 0 #212121
			transform: translate(2px, 2px)

		&--checked
			background-color: orange
			box-shadow: 0 0 5px 0 #212121
			transform: translate(2px, 2px)
