.metrica
	@include sec-common(white, white)
	&__box
		margin: 0 auto
		position: relative
		z-index: 1
	&__box
		font-size: 13px
	&__label
		&:after
			content: ': '
	&__input
		padding-left: 7px
		margin-left: 20px
		box-sizing: border-box
		outline: none
		width: 160px
		height: 28px
		border: 2px solid #ffdb4d
		&::-webkit-inner-spin-button
			display: none
			-webkit-appearance: none
		&::-webkit-outer-spin-button
			display: none
			-webkit-appearance: none
		&::placeholder
			color: rgb(153, 153, 153)
	&__button
		background-color: #ffdb4d
		height: 28px
		border: 0
		padding-left: 10px
		padding-right: 10px
	&__button:before
		color: transparent
		position: absolute
		top: 0
		right: 362px
		width: 0
		height: 0
		content: ''
		border-style: solid
		border-left-color: #ffdb4d
		border-width: 14px 0 14px 12px